/* reset */
img {
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
}

html {
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	scroll-behavior: smooth;
	--primary-white: #f0eff9;
	--secondary-white: #c0c0c0;
}

body {
	background-color: #000000;
	color: var(--primary-white);
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* utils */
.container {
	margin: 0 auto;
	max-width: 1400px;
	padding: 0 20px;
}

.font-orbitron {
	font-family: 'Orbitron', sans-serif;
}

.btn {
	display: inline-flex;
	padding: 12px 42px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 20px;
	color: var(--primary-white);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Manrope;
	font-size: 14px;
	font-weight: 600;
	transition: all 0.3s ease-in-out;
}

.btn-primary {
	background-color: var(--primary-white);
	color: #000000;
}

.btn-primary-gradient {
	background: linear-gradient(
		88deg,
		#552bff 18.99%,
		#ff23c1 80.14%,
		#fff0ca 105.16%
	);
	color: var(--primary-white);
}

.btn-secondary {
	background-color: transparent;
	border: 1px solid var(--primary-white);
	color: var(--primary-white);
}

.btn-secondary-gray {
	background: #282828;
	color: var(--primary-white);
}

/* nav */
.nav {
	padding: 40px 0;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-logo {
	font-weight: 900;
	font-size: 18px;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-link {
	margin: 0 22px;
	font-size: 14px;
	font-weight: 600;
	font-feature-settings: 'clig' off, 'liga' off;
}

/* about us */
.about-us-img {
	border-radius: 20px;
}

.about-us-h3 {
	color: #927cea;
	font-family: Orbitron;
	font-size: 12px;
	font-weight: 700;
	margin-top: 48px;
	margin-bottom: 0;
}

.about-us-h2 {
	margin-top: 5px;
	font-size: 32px;
	color: #fff;
	font-weight: 700;
}

.about-us-p {
	color: var(--secondary-white);
	font-size: 12px;
	font-weight: 600;
	line-height: 30px;
	margin-top: 24px;
}

/* why */
.why {
	padding-top: 210px;
}

.why-h2 {
	font-size: 32px;
	color: #fff;
	text-align: center;
	font-weight: 700;
	line-height: 109%;
}

.why-p {
	font-size: 12px;
	color: var(--secondary-white);
	text-align: center;
	font-weight: 600;
	line-height: 25px;
	margin-top: 13px;
	max-width: 599px;
	margin-left: auto;
	margin-right: auto;
}

.why-card-container {
	margin-top: 80px;
	display: flex;
	gap: 32px;
}

.why-card {
	border-radius: 20px;
	border: 1px solid #2b2b2b;
	padding: 42px;
	background: rgba(30, 29, 38, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.why-card-logo {
	width: 54px;
	height: 52.591px;
	border-radius: 8px;
	/* border: 1px solid #ff23c1; */
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		31deg,
		#552bff 33.27%,
		#8528ed 62.56%,
		#ff23c1 98.4%,
		#fff0ca 98.41%,
		#fff0ca 98.41%
	);
}

.why-card-h3 {
	color: #fff;
	font-family: Orbitron;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 0;
}

.why-card-p {
	color: var(--secondary-white);
	font-size: 14px;
	font-weight: 600;
	line-height: 29px;
	margin-top: 16px;
}

.why-links {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	gap: 40px;
}
